In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv('covid_19_india.csv')
df_age = pd.read_csv('AgeGroupDetails.csv')
patients = pd.read_csv('IndividualDetails.csv')

In [6]:
patients['current_status'].value_counts()

current_status
Hospitalized    8301
Recovered        139
Deceased          30
Migrated           1
Name: count, dtype: int64

In [11]:
patients = patients[patients['current_status'] != 'Migrated']

In [12]:
patients['current_status'].value_counts()

current_status
Hospitalized    8301
Recovered        139
Deceased          30
Name: count, dtype: int64

In [28]:
total = patients.shape[0]
active = patients[patients['current_status']=='Hospitalized'].shape[0]
recovered = patients[patients['current_status']=='Recovered'].shape[0]
deaths = patients[patients['current_status']=='Deceased'].shape[0]

In [ ]:
npat = patients[patients['current_status']=='Recovered']

In [48]:
pbar = npat['detected_state'].value_counts().reset_index()

In [49]:
pbar

      detected_state  count
0             Kerala     58
1          Karnataka     39
2            Haryana     12
3      Uttar Pradesh      6
4         Tamil Nadu      6
5          Rajasthan      3
6        West Bengal      3
7              Delhi      2
8        Maharashtra      2
9     Andhra Pradesh      2
10         Telangana      1
11      Chhattisgarh      1
12       Uttarakhand      1
13           Gujarat      1
14  Himachal Pradesh      1
15           Manipur      1

In [54]:
patients

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8467,8468,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8468,8469,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8469,8470,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8470,8471,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8471,8472,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN

In [ ]:
date_by_date = patients.groupby('diagnosed_date').size().reset_index(name='count') 
date_by_date['diagnosed_date'] = pd.to_datetime(date_by_date['diagnosed_date'], dayfirst=True)
date_by_date = date_by_date.sort_values('diagnosed_date')

# Format as dd/mm/yy
date_by_date['diagnosed_date'] = date_by_date['diagnosed_date'].dt.strftime('%d/%m/%y')

In [61]:
date_by_date

   diagnosed_date  count
0        30/01/20      1
1        02/02/20      1
2        03/02/20      1
3        02/03/20      2
4        03/03/20      1
5        04/03/20     22
6        05/03/20      2
7        06/03/20      1
8        07/03/20      3
9        08/03/20      5
10       09/03/20      9
11       10/03/20     15
12       11/03/20      8
13       12/03/20     10
14       13/03/20     10
15       14/03/20     11
16       15/03/20     10
17       16/03/20     14
18       17/03/20     19
19       18/03/20     25
20       19/03/20     27
21       20/03/20     58
22       21/03/20     78
23       22/03/20     69
24       23/03/20     94
25       24/03/20     74
26       25/03/20     86
27       26/03/20     73
28       27/03/20    153
29       28/03/20    136
30       29/03/20    120
31       30/03/20    187
32       31/03/20    309
33       01/04/20    424
34       02/04/20    486
35       03/04/20    560
36       04/04/20    579
37       05/04/20    605
38       06/04/20    489
39       07/04/20    572
40       08/04/20    565
41       09/04/20    813
42       10/04/20    871
43       11/04/20    854
44       12/04/20     19